@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
:root{
--font-title:'Work Sans',CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,'Helvetica Neue',helvetica,arial,'Hiragino Sans','Hiragino Kaku Gothic ProN',Meiryo,'MS Gothic',sans-serif;
--font-ui:'Work Sans',CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,'Helvetica Neue',helvetica,arial,'Hiragino Sans','Hiragino Kaku Gothic ProN',Meiryo,'MS Gothic',sans-serif;
--font-mono:'SFMono-Regular',Consolas,'Liberation Mono',Menlo,monospace;
}
