Options -Indexes

<IfModule mod_authz_core.c>
    <FilesMatch "\.(jpg|jpeg|png|webp)$">
        Require all granted
    </FilesMatch>
    <FilesMatch ".*">
        Require all denied
    </FilesMatch>
</IfModule>
